//Aside Styles 

aside{
    width: 100%;
    padding:auto;
    box-sizing: border-box;
    text-align: center;
    .asideGrid{
        background: map-get($map:$colorSchema,$key:'btnAnim');
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'asideTitle asideTitle asideTitle'
        'trip booking turismo';
        width:100%; 
        padding: 2em;
        align-items:center;
        #asideTitle{
            grid-area: asideTitle;
            font-family: $fontTitle;
            font-size: map-get($map:$fontSz,$key:'nor');
            color: map-get($map:$colorSchema,$key:'main');
            text-align: center;
            @media only screen and (max-width: 660px){
                font-size: map-get($map:$fontSz,$key:'xs');
            }
        }
        #trip{
            grid-area: trip;
        }
        #booking{
            grid-area: booking;
        }
        #cafayate{
            grid-area: turismo;
        }
    }
}

.asideFigures{
    grid-template-columns: 1;
    grid-template-rows: 2;
    text-align: center;
}

.asideFigCap{
    font-size: map-get($map:$fontSz,$key:'sm');
    color: map-get($map:$colorSchema,$key:'main');
    @media only screen and (max-width: 720px){
        font-size: map-get($map:$fontSz,$key:'xxs');
    }

}

.asideIcon{
    width: 6em;
    box-sizing: border-box;
    @media only screen and (max-width: 720px){
        width: 4em;
    }
    @media only screen and (max-width: 314px){
        width: 3em;
    }
}

.asideIconTur{
    width: 11em;
    box-sizing: border-box;
    @media only screen and (max-width: 720px){
        width: 7em;
    }
    @media only screen and (max-width: 314px){
        width: 5em;
    }
}