// variables

//colores
$mainColor:rgb(33, 6, 6); 
$mainLightColor:rgb(215,204,200);
$secondaryColor:rgb(64, 37, 37);
$secondaryLightColor:rgb(242, 242, 242);
$decoColor:rgb(93, 64, 55);
$navBarColor:rgba(64, 37, 37, .7);
$fontColorDark:rgb(33, 6, 6);

//sizing
$w100:100vw;
$h100:100vh;
$w75:75vw;
$h75:75vh;
$w50:50vw;
$h50:50vh;
$w25:25vw;
$h25:25vh;
