// variables

//colores
$mainColor:#210606; 
$mainLightColor:#d7ccc8;
$secondaryColor:#402525;
$secondaryLightColor:#f2f2f2;
$decoColor:#5d4037;
$navBarColor:rgba(64, 37, 37,.7);
$btnAnimateColor:#e8d0b3;


//sizing
$w100:100vw;
$h100:100vh;
$w75:75vw;
$h75:75vh;
$w50:50vw;
$h50:50vh;
$w25:25vw;
$h25:25vh;

body{
    background-image:url(../img/background.jpg)
}