// colorMap
$colorSchema:(
    'main': #210606, 
    'mainLight':#d7ccc8,
    'mainLightAlpha':rgba(215,204,200, .7),
    'second':#402525,
    'secondLight':#f2f2f2,
    'deco': #5d4037,
    'nav': rgba(64, 37, 37,.8),
    'btnAnim' :#e8d0b3,
);

body{
    background-image:url(../img/background.jpg)
}

// mixins
@mixin titles($fontFamily, $fontSize, $lineHeight, $color){
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    padding: 2px;
    text-align: center;
}

@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    box-sizing: border-box;
}

@mixin backDiv ($image, $repeat, $position){
    background-image: $image;
    background-repeat: $repeat;
    background-position: $position;
}
    
