@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Orbitron&family=Quicksand:wght@300;400;500;600;700&family=Vesper+Libre:wght@400;500;700;900&display=swap');

$fontMain:'Quicksand', sans-serif;
$fontTitle: 'Cinzel Decorative', cursive;

//variables para textos
$textXL: 6em;
$textLg: 4em;
$textSt: 2em;
$textNl: 1.5em;

