@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Orbitron&family=Quicksand:wght@300;400;500;600;700&family=Vesper+Libre:wght@400;500;700;900&display=swap');

$fontMain:'Quicksand', sans-serif;
$fontTitle: 'Cinzel Decorative', cursive;

//Texts Map
$fontSz:(
    'xxxl':10em, 
    'xxl':8em,
    'xl':6em,
    'lg':4em,
    'nor':3em,
    'cardsp':2.5em,
    'sm':2em,
    'xs':1.5em,
    'xxs':1em,
    'xxxs':0.5em,
);

$textXXL: 10em;
$textXL: 6em;
$textLg: 4em;
$texth3: 3em;
$textNav: 1.5em;
$textNl: 2em;



